#user-menu {
  position: absolute;
  top: 0;
  right: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      a {
        padding: 5px 8px;
        color: #fff;
        text-decoration: none;
        display: block;
      }
    }
  }
}