body {
	background: #000;
}
.admin-menu body{padding-top:27px;} 
.navbar{border:0 !important;}
.navbar.container{
  max-width:100% !important;
  width:100% !important;

}
header{padding:0 !important; margin:0 !important;}
.navbar-header{
  width:100% !important;
  display:inline-block;
  padding:50px 10px;
background: rgba(191,4,16,1);
background: -moz-linear-gradient(top, rgba(191,4,16,1) 0%, rgba(160,17,38,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191,4,16,1)), color-stop(100%, rgba(160,17,38,1)));
background: -webkit-linear-gradient(top, rgba(191,4,16,1) 0%, rgba(160,17,38,1) 100%);
background: -o-linear-gradient(top, rgba(191,4,16,1) 0%, rgba(160,17,38,1) 100%);
background: -ms-linear-gradient(top, rgba(191,4,16,1) 0%, rgba(160,17,38,1) 100%);
background: linear-gradient(to bottom, rgba(191,4,16,1) 0%, rgba(160,17,38,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0410', endColorstr='#a01126', GradientType=0 );
}
.navbar-header .logo{
  width:100% !important;
  display:inline-block;
  padding:10px;
  text-align:center;  
}
.navbar-brand{display:none;}
.navbar-header img{
  width:15%;
  height:auto;
  margin:0 auto 0;
}
#navbar-collapse{display:inline-block !important;width:100%; padding:0;}
#navbar-collapse nav{ 
  display:inline-block;
  width:100%;
background:#d12730;
  border-top:3px solid white;
  
}
ul.menu.nav{
  display:flex !important;
  width:100%;
}
ul.menu.nav li{ 
  display:inline-block !important;
  flex-grow:1;
   padding:20px 0;
}
ul.menu.nav li a{
 color:white !important;
 font-size:20px;
 text-align:center;
 border-left:2px solid #b71525;

}
ul.menu.nav li a.menu_icon{
  height:auto !important;
}
ul.menu.nav li.first a{
 border-left:0px solid #b71525;

}
ul.menu.nav li.active-trail{
 background:#b71525;
}
ul.menu.nav li.active-trail a, ul.menu.nav li.active-trail a:hover{
  background:transparent;
}
